<div class="mt-4">
    <h2>Đăng khóa học</h2>

    <form method="POST" action="/courses/store">
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <textarea class="form-control" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="videoId">Video ID</label>
            <input type="text" class="form-control" name="videoId">
        </div>

        <button type="submit" class="btn btn-primary">Đăng</button>
    </form>

</div>